.paragraficikoyu{
    background-color: brown; border-radius: 30px;
}
.liste{
    list-style-type:square; color:brown;
}
.background{
    background-color: bisque;
}
.colorbrown{
    color: brown;
}
.colorwhite{
    color: white;
}
.konum550{
    margin-left: 550px;
}
.footer{
    margin-left: 1240px;
    font-size:xx-large;
    font-family:monospace;
}
.colorchoco{
    color: chocolate;
}